<table class="table table-striped spl" ng-controller="UserInfoController" ng-show="searchItems">
    <div class="row">
        <thead>
            <tr>
                <th>Username(Public Repos)</th>
                <th>Git Profile</th>
                <th>Email</th>
                <th>Rate</th>
            </tr>
        </thead>
    </div>

    <tr>
        <td>{{username_from_git}}({{number_of_public_repos}} Repos)
        </td>
        <td>
            <a href="{{user_git_url}}" target="_blank">{{github_username}} </a>
        </td>
        <td>{{git_email}} 
        </td>
        <td>
            <h3>Rating</h3>
            <div ng-init="rating = star.rating - 1"></div>

            <div class="star-rating" star-rating rating-value="rating"
                data-max="10" >
            </div>
        </td>
    </tr>
</table>
